{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static 'stylesheets/registration.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<title> Twitter. It's what's happening. </title>
	</head>

	<body>
		<div id="container">

			<div id="body">

				<div id="white">
					<div id="center-white" class="text-left-align black-text">
						<span class="twitter-logo" style="">
							<img src="{% static 'images/Twitter_Logo_Blue.png' %}" heigth="70" width="70"></img>
							<h1 class="caption-white" style="margin: 0px">See what's happening in the world right now</h1>
						</span>
						
						<h3>Join Twitter today.</h3>
						<!-- Buttons -->
					</div>
				</div>

				<div id="blue">
					<div id="center-blue">
						<div class="text-center white-text span-img-text">
							<span class="fas fa-search fa-3x">
							</span>
							<h2>Follow your interests.</h2>
						</div>
						<div class="text-center white-text span-img-text">
							<span class="fas fa-users fa-3x">
							</span>
							<h2>Hear what people are talking about.</h2>
						</div>
						
						<div class="text-center white-text span-img-text">
							<span class="fas fa-comment fa-3x">
							</span>
							<h2>Join the conversation.</h2>
						</div>	
					</div>
				</div>
			</div>

			<div id="footer" class="gray-text">
				<span id="span-footer-list">
					<ul class="footer-list">
						<li class="footer-list-item">About</li>
						<li class="footer-list-item">Help Center</li>
						<li class="footer-list-item">Blog</li>
						<li class="footer-list-item">Status</li>
						<li class="footer-list-item">Jobs</li>
						<li class="footer-list-item">Terms</li>
						<li class="footer-list-item">Privacy Policy</li>
						<li class="footer-list-item">Cookies</li>
						<li class="footer-list-item">Ads info</li>
						<li class="footer-list-item">Brand</li>
						<li class="footer-list-item">Apps</li>
						<li class="footer-list-item">Advertise</li>
						<li class="footer-list-item">Marketing</li>
						<li class="footer-list-item">Businesses</li>
						<li class="footer-list-item">Developers</li>
						<li class="footer-list-item">Directory</li>
						<li class="footer-list-item">Settings</li>
						<li class="footer-list-item">© 2018 Twitter</li>
					</ul>
				</span>
			</div>
		</div>

	</body>

</html>