<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Twitter</title>

	<link href="{% static 'stylesheets/signup.css' %}" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="login-nav">
		<div class="login-container">
			<a href="#">Home</a>
			<a href="#">About</a>
		</div>
	</div>

	<div class="login-container" style="border: 1px solid rgba(0,0,0,0.15)">
		<img src="{% static 'images/Twitter_Logo_Blue.png' %}" height="40" width="40" style="margin-left: auto; margin-right: auto; display: block; margin-top: 5px;"></img>
		<form method="POST" id="signup" @submit="checkForm" >
			{% csrf_token %}

				<h2>Create your account</h2>
				<input type="text" id="name" name="name" placeholder="Username" v-model="name" maxlength="50"/>
				<p style="margin: 0; padding: 0; color: red">[[name_error]]</p>
				<p style="margin: 0; padding: 0;">[[name.length]]/50</p>
				<input type="text" id="email" name="email" placeholder="Email" v-model="email"/>
				<p style="margin: 0; padding: 0; color: red">[[email_error]]</p>
				<input type="password" id="password" name="password" placeholder="Password" v-model="password"/>
				<p style="margin: 0; padding: 0; color: red">[[password_error]]</p>
				<button type="submit">Next</button>
		</form>
	</div>

	<script type="text/javascript">
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		var vue_det = new Vue({
			delimiters: ['[[', ']]'],
			el: '#signup',
			data: {
				name: '',
				email: '',
				password: '',
				name_error: '',
				email_error: '',
				password_error: ''
			},
			methods: {

				checkForm(e) {
					e.preventDefault();
					var flag = true;
					console.log(re.test(String(this.email).toLowerCase()));
					if(this.name.length < 1){
						this.name_error = "Name is required.";
					}
					else if(this.email.length < 1){
						this.email.error = "Valid email is required.";
					}
					else if(!re.test(String(this.email).toLowerCase()) ){
						this.email.error = "Valid email is required.";
					}
					else if(this.password.length < 6){
						this.password_error = "Minimum of 6 characters is required.";
					} else{
						this.signUP(e)
					}
					
				},

				signUP(e){
					e.preventDefault();
					return axios({
						method: 'POST',
						url: '',
						data: {
							name: this.name,
							email: this.email,
							password: this.password
						},
						headers: {
					    	"X-CSRFToken": document.cookie.split('csrftoken=').pop(), 
					  	}
					})
					.then((response) => {
						console.log(response);
					})
					.catch((response) => {
						console.log(response);
					});
				}
			}
		});
	</script>

</body>
</html>
