{% extends 'base.html' %}
{% load static %}
{% block title %}
    Twitter
{% endblock %}

{% block pagecontent %}
<div class="container">
	<section class="left">
		<div class="profilecard">
			<div class="header"></div>
			<div class="userpic"></div>
			<div class="name-username-div">
				<a href="#" class="name">asdfghj</a><br>
				<a href="#" class="username">@hghghghg</a>
			</div>
			<div class="stats">
				<div class="num-of-tweets">
					<span>Tweets</span>
					<div class="numbers">666</div>
				</div>
				<div class="num-of-following">
					<span>Following</span>
					<div class="numbers">666</div>
				</div>
				<div class="num-of-followers">
					<span>Followers</span>
					<div class="numbers">666</div>
				</div>
			</div>
		</div>
	</section>
	<div class="userfeed">
		<div class="tweet-wrapper">
			<div class="poster-pic-wrapper">
				<div class="poster-pic"></div>
			</div>
			<div class="post-info">
				<div class="poster-name">( •᷄⌓•᷅ ) </div>
‏				<div class="poster-username"> @BrandonJLFlores · </div>
				<div class="time-posted"> 13m </div>
				<div class="post-content">abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789</div>
			</div>
			<div class="post-settings">v</div>
		</div>
	</div>
	<section class="right">
		
	</section>
</div>
{% endblock %}